$color: hotpink;
$font-size: 16px;

body{
 background: $color;
 font-size: $font-size;
}

h2{
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(2, 2, 2);
    color: greenyellow;
}

section {
    margin-bottom: 30px;
  }

.sg-example {
    display: flex;
    align-items: center;
  }
  
.sg-example > * {
    margin: 0 7px 7px 0 !important;
  }
  
.sg-example > *:last-child {
    margin-right: 0;
  }



  @import "scss/button";